[Unit]
Description=Encrypting Kerberos-aware Rlogin Server
After=local-fs.target

[Service]
ExecStart=/usr/kerberos/sbin/klogind -e
StandardInput=socket
