[Unit]
Description=Encrypting Kerberos-aware Telnet Server
After=local-fs.target
Documentation=man:telnetd(8)

[Service]
ExecStart=/usr/kerberos/sbin/telnetd -e
StandardInput=socket
