[Unit]
Description=Kerberos-aware Rshell Server
After=local-fs.target
Documentation=man:kshd(8)

[Service]
ExecStart=/usr/kerberos/sbin/kshd
StandardInput=socket
